.form_button Button{
    width: 8rem;
}
.CardTop{
    height: 5rem;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}
.CardTop img{
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 0;
    top: 0;
}
.CardTop .title{
    position: relative;
    top: 1rem;
    font-size: 30px;
}
