.form_button Button{
    width: 8rem;
}
.CardTop{
    margin-bottom: 2rem;
}
.CardTop img{
    height: 5rem;
    width: 5rem;
    position: relative;
    right: 1rem;
}
.CardTop .title{
    font-size: 30px;
    position: relative;
    top: 1rem;
    left: 3rem;
}
